<% @controller = GamesController.new %>
<% provide(:title, 'Play Game') %>

<br/>

<h1>Play Game</h1>



<table id=board>
 <table id=board>
   <tr>

     <td class="left top">
       <% if @game.board[0][0] %>
         <%= @game.board[0][0] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 0 } %>
       <% end %>
     </td>
     <td class="top vertical-mid">
       <% if @game.board[0][1] %>
         <%= @game.board[0][1] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 1 } %>
       <% end %>
     </td>
     <td class="top right">
       <% if @game.board[0][2] %>
         <%= @game.board[0][2] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 0 } %>
       <% end %>
     </td>

   </tr>
   <tr>
 
     <td class="left horizontal-mid">
       <% if @game.board[1][0] %>
         <%= @game.board[1][0] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 0 } %>
       <% end %>
     </td>
     <td class="vertical-mid horizontal-mid">
       <% if @game.board[1][1] %>
         <%= @game.board[1][1] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 1 } %>
       <% end %>
     </td>
     <td class="right horizontal-mid">
       <% if @game.board[1][2] %>
         <%= @game.board[1][2] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 0 } %>
       <% end %>
     </td>

  </tr>
  <tr>
 
     <td class="left bottom">
       <% if @game.board[2][0] %>
         <%= @game.board[2][0] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 0 } %>
       <% end %>
     </td>
     <td class="vertical-mid bottom">
       <% if @game.board[1][1] %>
         <%= @game.board[1][1] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 1 } %>
       <% end %>
     </td>
     <td class="right bottom">
       <% if @game.board[2][2] %>
         <%= @game.board[2][2] %>
       <% else %>
         <%= render :partial => "board_form", :locals => { 
         :game => @game, :row => 0, :column => 0 } %>
       <% end %>
     </td>

  </tr>
</table>
